@charset "UTF-8";
	*{ box-sizing: border-box; font-family: "Atlassian Sans", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif; }
	body {
		background-color: rgb(250, 251, 252);
		background-image: url(https://id-frontend.prod-east.frontend.public.atl-paas.net/assets/default_left.558fbf68.svg), url(https://id-frontend.prod-east.frontend.public.atl-paas.net/assets/default_right.f8462257.svg);
    	background-repeat: no-repeat, no-repeat;
    	background-attachment: fixed, fixed;
    	background-size: 368px, 368px;
    	background-position: left bottom, right bottom;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 15px;
	}
	#whiteBoxContainer {
		width: 400px;
		padding: 32px 40px;
		background: transparent;
		border-radius: 3px;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
		box-sizing: border-box;
		color: var(--ds-text-subtle);
	}
	#logo {
		display: flex;
		justify-content: center;
	}
	#notice {
		display: block;
		color: rgb(41, 42, 46);
		font-size: 20px;
		font-weight: 653;
		height: 24px;
		line-height: 24px;
		width: 251.05px;
		margin-left: 32px; 
		margin-top: 25px;
	}
	#code-submit {
		background-color: rgb(24, 104, 219);
		cursor: pointer;
		display: inline-flex;font-size: 14px;
		height: 40px;
		font-weight: 500;
		line-height: 40px;
		width: 320px;
		border: none;
		border-radius: 3px;
		margin-top: 22px;
		text-align: center; 
	}
	#code-txt {
		color: white;
		position: flex;
		justify-content: center;
		margin-left: 134px;
	}
	.signIn-signUp {
		color: rgb(24, 104, 219); 
		font-size: 14px; 
		font-weight: 400; 
		cursor: pointer; 
		text-decoration-line: underline;
	}
	#other-option {
		text-align: center; 
		margin: 13px;
	}
	#code-notice {
		color: rgb(80, 82, 88);
		display: block;
		font-size: 14px;
		font-weight: 400;
		height: 40px;
		line-height: 20px;
		width: 320px;
	}
	#email-sent-info {
		margin-top: 20px;
	}
	#user-email {
		color: rgb(80, 82, 88);
		font-size: 16px;
		font-weight: 653;
		height: 20px;
		margin-top: 8px;
		width : 320px;
		display: block;
		text-align: left;
	}
	.code {
		cursor: text;
		font-size: 20px;
		font-weight: 400;
		outline-width: 3px;
		padding: 8px;
		text-align: center;
		height: 100%;
		width: 100%;
		outline: none;
		border: none;
	}
	.code-box {
		border: 1px solid rgb(140, 143, 151);
		border-radius: 3px;
		height: 47px;
		width: 47px;
		display: flex;
		
	}
	#input-div {
		display: flex;
		width: 320px;
		height: 47px;
		gap: 8px;
	}