@charset "UTF-8";
	.filter-list {
		padding: 10px;
	}
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	header > button {
		height: 32px;
		border: none;
		border-radius: 3px;
		color: white;
		background-color: #1868DB;
	}
	button {
		cursor: pointer;
	}
	table, tr, td, th {
		padding: 10px;
	}
	table{
		border: 1px solid rgba(11, 18, 14, 0.14);
		border-collapse: collapse;
		width: 100%;
		margin-top: 25px;
	}
	td, th {
		border-top: 1px solid rgba(11, 18, 14, 0.14);
		border-collapse: collapse;
	} 
	th {
		font-size: 12px;
		text-align: left;
	}
	td {
		font-size: 14px;
	}
	.star {
		width: 16px;
	}
	.star-container {
		background-color: white;
		border: none;
		cursor: pointer;
	}
	.filter-title {
		color: #1868DB;
		cursor: pointer;
	}
	.filter-title:hover {
		text-decoration: underline;
	}
	.more_button > img {
		width: 16px;
		height: 16px;
	}
	.more_button {
		border: none;
		background-color: white;
		cursor: pointer;
		width: 24px;
		height: 24px;
		padding: 0px 2px;
		display: flex;
	    align-items: center;
	    justify-content: center;
	}
	#search_filter {
		display: flex;
		column-gap: 8px;
	}
	.dropbox {
		border: 1px solid rgba(11, 18, 14, 0.14);
		border-radius: 3px;
		width: 200px;
		height: 34px;
	}
	.dropbox:focus {
		border: 1px solid rgb(70, 136, 236);
		border-radius: 3px;
		outline: none;
	}
	#search_box_container > img {
		width: 16px;
		height: 16px;
	}
	#search_filter_by_title {
		border: none;
		height: 30px;
		width: 211px;
	}
	#search_box_container {
		border: 1px solid rgba(11, 18, 14, 0.14);
		border-radius: 3px;
		width: 237px;
		height: 32px;
		display: flex;
	    flex-direction: row;
	    align-items: center;
	    justify-content: space-around;
	}
	#search_filter_by_title:focus {
		outline: none;
	}
	#search_box_container:focus-within {
		border: 1px solid rgb(70, 136, 236);
		border-radius: 3px;
		outline: none;
	}
	tr > th > img {
		margin-left: 6px;
	}
	.sort > img {
		width: 16px; 
		height: 16px;
		margin-bottom: -3px;
	}
	.sort {
		cursor: pointer;
		background-color: white;
		border: none;
	}
	.owner > img , .viewer > img {
		width: 24px;
		height: 24px;
	}
	.owner , .viewer {
		display: flex;
   		align-items: center;
   		column-gap: 5px;
	}
	td:last-child, td:first-child {
		width: 30px;
	}
	.more_button:focus {
		border: 1px solid rgb(24, 104, 219);
		border-radius: 3px;
		background-color: rgb(233, 242, 254);
	}
	.more_button:focus > img {
		filter: brightness(0) saturate(100%) invert(38%) sepia(34%) saturate(3570%) hue-rotate(201deg) brightness(85%) contrast(102%);
	}
	.dropdown_content {
		position: absolute;
		z-index: 400;
		background-color: white;
		border-radius: 4px;
		box-shadow: 0px 4px 12px rgba(30, 31, 33, 0.15);
		width: fit-content;
		width: 120px;
		margin-left: -95px;
		display: none;
	}
	.dropdown_content.show {
		display: block;
	}
	.dropdown_content > button {
		padding: 8px 16px;
		background-color: white;
		border: none;
		width: 120px;
	}
	.dropdown_content > button:hover {
		background-color: rgba(5, 21, 36, 0.06);
	}
	h1 {
		font-size: 24px;
	}