@charset "UTF-8";
	*{ box-sizing: border-box; font-family: "Atlassian Sans", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif; }
	body {
		background-color: rgb(250, 251, 252);
		background-image: url(https://id-frontend.prod-east.frontend.public.atl-paas.net/assets/default_left.558fbf68.svg), url(https://id-frontend.prod-east.frontend.public.atl-paas.net/assets/default_right.f8462257.svg);
    	background-repeat: no-repeat, no-repeat;
    	background-attachment: fixed, fixed;
    	background-size: 368px, 368px;
    	background-position: left bottom, right bottom;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 15px;
	}
	#whiteBoxContainer {
		width: 400px;
		padding: 32px 40px;
		background: transparent;
		border-radius: 3px;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
		box-sizing: border-box;
		color: var(--ds-text-subtle);
	}
	#logo {
		display: flex;
		justify-content: center;
	}
	#notice {
		color: rgb(41, 42, 46);
		font-size: 16px;
		font-weight: 653;
		height: 20px;
		line-height: 20px;
		text-align: center;
		margin: 0px auto;
		display: inline-block;
   		vertical-align: middle;
	}
	.small-txt {
		color: rgb(80, 82, 88);
		cursor: default;
		display: inline-block;
		font-size: 12px;
		font-weight: 653;
		line-height: 16px;
		margin: 0px auto;
	}
	.required {
		color: rgb(174, 46, 36);
		font-weight: 653;
	}
	#useremail-container {
		align-items: center;
		background-color: rgb(255, 255, 255);
		width: 288px; 
		height: 40px; 
		margin-top: 2px;
		position: relative;
	}
	#email-input {
		background-color: rgba(0, 0, 0, 0);
		color: rgb(41, 42, 46);
		cursor: text;
		display: block;
		font-size: 14px;
		font-stretch: 100%;
		font-weight: 400;
		line-height: 20px;
		outline-width: 3px;
		box-sizing: border-box;
		padding: 10px;
		width: 320px; 
		height: 40px;
		border-radius: 3px;
		border: 1px solid rgb(193, 199, 208);
		position: relative;
	}
	#login-submit {
		background-color: rgb(24, 104, 219);
		cursor: pointer;
		display: inline-flex;
		font-size: 14px;
		height: 40px;
		font-weight: 500;
		line-height: 40px;
		width: 320px;
		border: none;
		border-radius: 3px;
		margin-top: 22px;
		text-align: center; 
	}
	#login-txt {
		color: white;
		margin-left: 134px;
		margin: 0 auto
	}
	#login-option{
		margin-top: 24px; 
		color: rgb(80, 82, 88); 
		font-size: 14px; 
		text-align: center;
	}
	#title {
		width: 171px;
		height: 36px;
		margin: 0 auto;
		margin-top: 24px;
		text-align: center;
	}
	#notice > svg {
		color: rgb(0, 135, 90);
		width: 16px;
		height: 16px;
		fill: white;
		margin-left: 4px;
		display: inline-block;
 		vertical-align: middle;
	}
	#email-info {
		width: 320px;
		height: 42px;
		margin-top: 26px;
	}
	#email {
		font-size: 12px;
		margin-bottom: 4px;
	}
	#user-email {
		font-size: 14px;
		font-weight: 700;
		margin: 0px;
	}
	#input-name {
		margin: 8px 0px;
	}
	#toggle-password {
		width: 24px;
   		height: 24px;
   		padding: 6px 0px;
   		box-sizing: border-box;
   		background: none;
   		border: none;
   		position: absolute;
  	 	right: -24px;
 	  	top: 35%;
  		transform: translateY(-50%);
	}