@charset "UTF-8";
	* { box-sizing: border-box; 
		white-space: nowrap; 
		overflow: hidden; 
		text-overflow: ellipsis; 
		font-family: "Atlassian Sans", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif; }
	html, body {
	 	margin: 0;
	 	height: 100%;
	 	width: 100%;
	}
	*{ font-family: "Atlassian Sans", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif; }
	#topArea {
		height: 48px;
		width:100%;
		display:flex;
		align-items:center;
		border-bottom: 1px solid lightgray;
	}
	#area1 {
		display:flex;
		align-items:center;
		width: 12.5%;
	}
	#logo {
		margin-left: 50px;
	}
	#logo > a > img {
		cursor: pointer;
		height: 24px;
	}
	#closer > button {
		background-color: white;
		margin-left: 20px;
		border: 1px solid white;
	}
	#closer > button > img {
		height: 20px;
		cursor: pointer;
	}
	#opener {
		display: none;
	}
	#opener > button {
		background-color: white;
		border: 1px solid white;
		margin-left: 20px; 
	}
	#opener > button > img {
		height: 20px;
		cursor: pointer;
	}
	#area2 {
		width: 60.5%;
		display: flex;
		align-items:center;
		justify-content: right;
		gap: 10px;
	}
	#searchBar {
		height: 34px;
		width: 780px;
		border-radius: 6px;
		border: 1px solid gray;
		background-image: url('resources/img/search.png');
			background-repeat: no-repeat;
			background-size: 20px;
			background-position: 3px center;
			padding-left: 25px;
	}
	#create {
		background-color: #1868db;
		color: white;
		font-size: 16px;
		width: 90px;
		height: 33px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border: 1px solid #1868db;
		border-radius: 4px;
	}
	#plus {
		width: 26px;
		height: 26px;
	}
	#area3 {
		width: 27%;
		display: flex;
		align-items: center;
		justify-content: right;
	}
	#bell {
		margin-right: 80px;
		margin-bottom: 4px;
		cursor: pointer;
	}
	#profile {
		height: 24px;
		margin-right: 15px;
		margin-bottom: 1px;
		cursor: pointer;
	}
	#profile > a > img {
		height: 24px;
	}
	#mainArea {
		display: flex;
		width: 100%;
	}
	#sideBarArea {
		width: 12.5%;
		height: 910px;
		border-right: 1px solid lightgray;
	}
	.gap {
		width: 100%;
		height: 32px;
		display: flex;
		align-items: center;
	}
	.gap > a {
		margin-left: 15px;
	}
	.bold {
		margin-right: 10px;
		height: 12px;
		width: 18px;
		margin-top: 5.2px;
	}
	#osusume {
		margin-top: 15px;
		cursor: pointer;
	}
	#osusume:hover {
		background-color: #f5f5f5;
		color: gray;
	}
	#osusume:active {
		color: #1868db;
		border-right: 2px solid #1868db;
		background-color: rgb(233, 242, 254);
	}
	#osusume:focus-within {
		color: #1868db;
		border-right: 2px solid #1868db;
		background-color: rgb(233, 242, 254);
	}
	#hito {
		height: 24px;
		margin-left: 15px;
	}
	#saikin {
		display: flex;
		justify-content: space-between;
		cursor: pointer;
	}
	#saikin:hover {
		background-color: #f5f5f5;
		color: gray;
	}
	#saikin:active {
		color: #1868db;
		border-right: 2px solid #1868db;
		background-color: rgb(233, 242, 254);
	}
	#saikin:focus-within {
		color: #1868db;
		border-right: 2px solid #1868db;
		background-color: rgb(233, 242, 254);
	}
	#tokei {
		margin-left: 15px;
	}
	#filter {
		margin-left:15px;
	}
	#filter_list > div {
		cursor: pointer;
	}
	#filter_list > .gap:hover {
		background-color: #f5f5f5;
		color: gray;
	}
	#filter_list > .gap:active {
		color: #1868db;
		border-right: 2px solid #1868db;
		background-color: rgb(233, 242, 254);
	}
	#filter_list > .gap:focus-within {
		color: #1868db;
		border-right: 2px solid #1868db;
		background-color: rgb(233, 242, 254);
	}
	#space {
		margin-left: 15px;
	}
	#space_list > div {
		cursor: pointer;	
	}
	#space_list > .gap:hover {
		background-color: #f5f5f5;
		color: gray;
	}
	#space_list > .gap:active {
		color: #1868db;
		border-right: 2px solid #1868db;
		background-color: rgb(233, 242, 254);
	}
	#space_list > .gap:focus-within {
		color: #1868db;
		border-right: 2px solid #1868db;
		background-color: rgb(233, 242, 254);
	}
	#submit {
		display: flex;
		justify-content: space-between;
		cursor: pointer;
	}
	#submit:hover {
		background-color: #f5f5f5;
		color: gray;
	}
	#submit:active {
		color: #1868db;
		border-right: 2px solid #1868db;
		background-color: rgb(233, 242, 254);
	}
	#submit:focus-within {
		color: #1868db;
		border-right: 2px solid #1868db;
		background-color: rgb(233, 242, 254);
	}
	#upload {
		display: flex;
	}
	#plusdocu {
		height: 20px;
		width: 20px;
		margin-left: 15px;
	}
	#various {
		width: 87.5%;
	}
	.menuIcon {
		width: 20px;
	}
	#beru {
		width: 20px;
		margin-top: 6px;
	}
	#clock {
		width: 16px;
		margin-right: 6px;
		margin-left: 4px;
		margin-top: 3px;
	}
	#firuta {
		width: 18px;
		margin-right:6px;
	}
	#spaceprofile {
		width: 128px;
		height: 128px;
		margin-left: 110px;
		margin-top: 15px;
	}
	#spaceform {
		width: 100%;
		height: 100%;
	}
	#spaceformheader {
		margin-left: 22%;
		color: gray;
		font-size: 14px;
		
		margin-top: 1.5%;
	}
	#spaceformheader > a {
		color: gray;
		font-size: 14px;
		text-decoration: none;
	}
	#spaceformheader > a:hover {
		text-decoration: underline;
	}
	#spaceformheader > b {
		color: black;
		font-size: 24px;
		margin-left: 3px;
		display: block;
		margin-top: 8px;
	}
	#spaceformimageup {
		margin-left: 39.9%;
	}
	#iconchange {
		background-color: white;
		border: 1px solid lightgray;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 3px;
		font-size: 14px;
		margin-left: 125px;
		margin-bottom: 20px;
		margin-top: 15px;
		cursor: pointer;
	}
	#spaceformform {
		font-size: 12px;
		font-weight: 500;
		margin-left: 39.9%;
		margin-top: 20px;
	}
	.spaceipt {
		height: 40px;
		width: 353px;
		border: 1px solid gray;
		border-radius: 4px;
		font-size: 16px;
		margin-bottom: 20px;
		margin-top: 5px;
	}
	#owner {
		height: 40px;
		width: 353px;
		border: 1px solid gray;
		border-radius: 4px;
		font-size: 16px;
		margin-bottom: 20px;
		margin-top: 5px;
	}
	#spacesubmit {
		height: 32px;
		width: 54px;
		border-radius: 3px;
		background-color: #f5f5f5;
		/* background-color: #1868db; */
		border: none;
		cursor: pointer;
		font-size: 15px;
		color: lightgray;
		/* color: white; */
	}
	.imageP {
		background-repeat: no-repeat;
		background-position: 3px 0;
		padding-left: 32px;
		background-size: 24px 24px;
		background-position: 4px 7px;
		background-image: url(https://i0.wp.com/avatar-management--avatars.us-west-2.prod.public.atl-paas.net/default-avatar-0.png?ssl=1);
	}
			#jiraSearch {
		width: 782px;
		height: 92%;
		margin-left: 271px;
		border: none;
		display: none;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
		border-radius: 6px;
	 	justify-content: center;
	}
	#jirasearch {
		/* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px; */
		width: 782px;
		height: 92%;
		border:none;
		/* border-radius: 6px; */
	}
	#header {
		font-size: 18px;
		font-weight: 600;
		color: #1868db;
		display-flex;
		align-items: center;
		padding-top: 5px;
		padding-left: 15px;
		padding-bottom: 3px;
	}
	#span {
		font-size: 14px;
		margin:12px;
	}
	
	.list {
		padding: 12px;
		cursor: pointer;
	}
	.list:hover {
		background-color: #f5f5f5;
		
	}
	.taskimage {
		margin-right: 50px;
	}