<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mapper.FilesMapper">

<insert id="uploadFile" parameterType="com.team.dto.FilesDto">
	<![CDATA[
		INSERT INTO files(file_no, space_key, task_no, reply_no, file_name, file_path, created_at) VALUES (seq_file_no.nextVal, #{space_key}, #{task_no}, #{reply_no, jdbcType=NUMERIC}, #{file_name}, #{file_path}, sysdate)
	]]>
</insert>

</mapper>